header
    display: flex
    justify-content: flex-end
    padding: 1.5em
    position: sticky
    z-index: 1000
    background-color: white
    top: 0

    .headerItem
        margin-right: 1em
        text-decoration: none
        color: black
        font-size: 1.2em

        img
            transform: scale(1.2, 1.2)